body {
  font-family: serif;
  font-size: 10pt;
  width: 40em;
  margin: 4em;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

pre {
  font-size: 1em;
  padding: 1em 3em;
  background-color: #ddd;
}

code {
  font-size: 1em;
  font-family: monospace;
  color: #33f;
}

pre code {
  color: #000;
  background-color: #ddd;
}
