body {
  font-family: "Bitstream Vera Serif", serif;
  font-size: 10pt;
  line-height: 1.4em;
  width: 40em;
  margin: 4em;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

pre {
  font-size: 1em;
  padding: 0.5em 0.75em;
  border-style: dotted;
  border-width: 1px;
  border-color: #666;
  background-color: #fff;
}

pre.haskell {
  border-style: none;
  background-color: #eee;
}

code {
  font-size: 1em;
  font-family: monospace;
  color: #33f;
}

pre code {
  color: #000;
}

pre.haskell code {
  background-color: #eee;
}
